@import url('../../assets/color.css');
@import url('../../assets/animations.css');

#modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--dark-bg);
  border-radius: .7rem;
  width: 500px;
  max-height: 100vh;
  z-index: 100000;
  display: flex;
  flex-direction: column;
  row-gap: 1rem; 
  padding: .2rem;
}

.md-fade-enter-active {
  animation: modal-fade-in 100ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.md-fade-leave-active {
  animation: modal-fade-out 100ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}


.modal-header {
  padding: .5rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-radius: .3rem;
  align-items: center;
}

.modal-body {
  padding: 1rem;
  display: grid;
  max-height: 55vh;
  place-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.modal-footer {
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  padding: .2rem;
  margin-bottom: .5rem;
  border-radius: .3rem;
}


.modal-backdrop {
  background: black;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  opacity: .5;
}
