input, textarea {
  outline: 1px solid #737373;
  width: 100%;
  border: 0px;
  transition: 250ms ease-in-out all;
  font-size: 16px;
  resize: none;
}

.text, .search {
  padding: .8rem;
  border-radius: .3rem;
  margin: .2rem;
}

.chat-input {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
