input, textarea {
  outline: 1px solid black;
  width: 100%;
  border: 0px;
  transition: 250ms ease-in-out all;
  font-size: 16px;
  resize: none;
}

.text, .search {
  padding: .8rem;
  border-radius: .3rem;
  margin: .2rem;
}
