@import '../../assets/color.css';

.page-header {
  background: var(--darker-bg);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 10vh;
  padding-left: .5rem;
  gap: 1rem;
}

.page-header > h2 {
  border-radius: 10px;
  padding: .5rem;
}
