@keyframes fadeup {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  50% {
    opacity: .7;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes fadedown {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  50% {
    opacity: .7;
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
