/**
  * Flip square
  *
  * @author jh3y - jheytompkins.com
*/

@import url('./color.css');

.flip-square:before {
  -webkit-animation: flip-square 1.5s infinite;
          animation: flip-square 1.5s infinite;
  background: var(--primary);
  content: '';
  display: block;
  height: 50px;
  width: 50px; }

@-webkit-keyframes flip-square {
  0% {
    -webkit-transform: perspective(50px) rotate(45deg) rotateX(0deg) rotateY(0deg);
            transform: perspective(50px) rotate(45deg) rotateX(0deg) rotateY(0deg); }
  50% {
    -webkit-transform: perspective(50px) rotate(45deg) rotateX(-180deg) rotateY(0deg);
            transform: perspective(50px) rotate(45deg) rotateX(-180deg) rotateY(0deg); }
  100% {
    -webkit-transform: perspective(50px) rotate(45deg) rotateX(-180deg) rotateY(-180deg);
            transform: perspective(50px) rotate(45deg) rotateX(-180deg) rotateY(-180deg); } }

@keyframes flip-square {
  0% {
    -webkit-transform: perspective(50px) rotate(45deg) rotateX(0deg) rotateY(0deg);
            transform: perspective(50px) rotate(45deg) rotateX(0deg) rotateY(0deg); }
  50% {
    -webkit-transform: perspective(50px) rotate(45deg) rotateX(-180deg) rotateY(0deg);
            transform: perspective(50px) rotate(45deg) rotateX(-180deg) rotateY(0deg); }
  100% {
    -webkit-transform: perspective(50px) rotate(45deg) rotateX(-180deg) rotateY(-180deg);
            transform: perspective(50px) rotate(45deg) rotateX(-180deg) rotateY(-180deg); } }


/**
  * Split
  *
  * @author jh3y
*/
@-webkit-keyframes swap {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1); } }
@keyframes swap {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

.swap:after, .swap:before {
  border-radius: 100%;
  content: '';
  height: 50px;
  opacity: .5;
  position: absolute;
  width: 50px; }

.swap:after {
  -webkit-animation: swap 1.5s -0.75s infinite;
          animation: swap 1.5s -0.75s infinite;
  background-color: var(--primary); }

.swap:before {
  -webkit-animation: swap 1.5s infinite;
          animation: swap 1.5s infinite;
  background-color: var(--secondary); }



/**
  * Feeder
  *
  * @author jh3y - jheytompkins.com
*/
@-webkit-keyframes fed {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-500%);
            transform: translateX(-500%); }
  30%,
  70% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  50% {
    -webkit-transform: translateX(0) scale(2.5);
            transform: translateX(0) scale(2.5); }
  40%,
  60% {
    -webkit-transform: translateX(0) scale(1.5);
            transform: translateX(0) scale(1.5); }
  100% {
    opacity: 0;
    -webkit-transform: translateX(500%);
            transform: translateX(500%); } }
@keyframes fed {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-500%);
            transform: translateX(-500%); }
  30%,
  70% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  50% {
    -webkit-transform: translateX(0) scale(2.5);
            transform: translateX(0) scale(2.5); }
  40%,
  60% {
    -webkit-transform: translateX(0) scale(1.5);
            transform: translateX(0) scale(1.5); }
  100% {
    opacity: 0;
    -webkit-transform: translateX(500%);
            transform: translateX(500%); } }

@-webkit-keyframes feed {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-500%);
            transform: translateX(-500%); }
  40% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateX(500%);
            transform: translateX(500%); } }

@keyframes feed {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-500%);
            transform: translateX(-500%); }
  40% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateX(500%);
            transform: translateX(500%); } }

.feeder {
  height: 20px;
  position: relative;
  width: 20px; }
  .feeder div {
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: fed;
            animation-name: fed;
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards;
    -webkit-animation-delay: calc(var(--delay) * 1s);
            animation-delay: calc(var(--delay) * 1s);
    background: var(--primary);
    border-radius: 100%;
    height: 100%;
    position: absolute;
    width: 100%; }
    .feeder div:nth-child(2), .feeder div:nth-child(3) {
      -webkit-animation-name: feed;
              animation-name: feed; }
    .feeder div:nth-child(2) {
      --delay: .25; }
    .feeder div:nth-child(3) {
      --delay: .5; }


/**
  * pan-out-circle
  *
  * @author jh3y
*/
@-webkit-keyframes pan-out-circle {
  0%, 30%, 50%, 100% {
    -webkit-transform: rotate(calc(var(--angle) * 1deg)) translate(0, calc(var(--radius) * 0px)) scale(0);
            transform: rotate(calc(var(--angle) * 1deg)) translate(0, calc(var(--radius) * 0px)) scale(0); }
  40% {
    -webkit-transform: rotate(calc(var(--angle) * 1deg)) translate(0, calc(var(--radius) * 1px)) scale(1);
            transform: rotate(calc(var(--angle) * 1deg)) translate(0, calc(var(--radius) * 1px)) scale(1); } }
@keyframes pan-out-circle {
  0%, 30%, 50%, 100% {
    -webkit-transform: rotate(calc(var(--angle) * 1deg)) translate(0, calc(var(--radius) * 0px)) scale(0);
            transform: rotate(calc(var(--angle) * 1deg)) translate(0, calc(var(--radius) * 0px)) scale(0); }
  40% {
    -webkit-transform: rotate(calc(var(--angle) * 1deg)) translate(0, calc(var(--radius) * 1px)) scale(1);
            transform: rotate(calc(var(--angle) * 1deg)) translate(0, calc(var(--radius) * 1px)) scale(1); } }

.pan-out-circle {
  --radius: 30;
  --size: 15;
  height: calc(var(--size) * 1px);
  width: calc(var(--size) * 1px);
  position: absolute; }
  .pan-out-circle div {
    -webkit-animation: pan-out-circle 1.5s calc(var(--delay) * 1s) infinite ease;
            animation: pan-out-circle 1.5s calc(var(--delay) * 1s) infinite ease;
    background: var(--primary);
    border-radius: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform: rotate(calc(var(--angle) * 1deg)) translate(0, calc(var(--radius) * 0px));
            transform: rotate(calc(var(--angle) * 1deg)) translate(0, calc(var(--radius) * 0px));
    width: 100%; }
    .pan-out-circle div:nth-child(1) {
      --angle: 45;
      --delay: 0.1; }
    .pan-out-circle div:nth-child(2) {
      --angle: 90;
      --delay: 0.2; }
    .pan-out-circle div:nth-child(3) {
      --angle: 135;
      --delay: 0.3; }
    .pan-out-circle div:nth-child(4) {
      --angle: 180;
      --delay: 0.4; }
    .pan-out-circle div:nth-child(5) {
      --angle: 225;
      --delay: 0.5; }
    .pan-out-circle div:nth-child(6) {
      --angle: 270;
      --delay: 0.6; }
    .pan-out-circle div:nth-child(7) {
      --angle: 315;
      --delay: 0.7; }
    .pan-out-circle div:nth-child(8) {
      --angle: 360;
      --delay: 0.8; }
