.with-label {
  border: 0px;
  background: inherit;
}

.with-label > img {
  border-radius: 100%;
  display: grid;
  place-items: center;
  width: 48px;
  height: 48px;
  border: 1px solid black;
}

.without-label {
  border: 0px;
  background: inherit;
}

.none-label {
  border-radius: 100%;
  display: grid;
  place-items: center;
  font-weight: bolder;
  width: 48px;
  height: 48px;
  border: 1px solid black;
}

.none-label > h3 {
  color: black;
  background: inherit;
}
