.with-label {
  border-radius: 50%;
  border: 1px solid black;
  background: inherit;
}

.without-label {
  border-radius: 50%;
  border: 1px solid black;
  background: inherit;
}

.none-label {
  display: grid;
  place-items: center;
  font-weight: bolder;
}