.sender, .receiver {
  width: auto;
  max-width: 40vw;
  word-wrap: break-word;
  margin: .15rem;
  padding: .5rem;
  border-radius: .6rem;
}

.sender {
  background-color: #e6e6e6;
  align-self: flex-start;
}

.receiver {
  background-color: #4f46e5;
  color: white;
  align-self: flex-end;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e6e6e6;
  border-radius: .3rem;
  padding: .5rem;
  background-color: transparent;
  transition: 150ms ease-in-out all;
  height: 10vh;
  margin: .15rem;
}

.card:hover {
  cursor: pointer;
  background-color: #e6e6e6;
}

.card-image {
  display: grid;
}

.card-detail {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  gap: .2rem;
}

.card-detail > p {
  color: #e6e6e6;
}
