@import '../../assets/color.css';
@import '../../assets/animations.css';

.sender, .receiver {
  width: auto;
  max-width: 40vw;
  word-wrap: break-word;
  margin: .15rem;
  padding: .5rem;
  border-radius: .6rem; 
  animation-name: fadeup;
  animation-duration: 250ms;
  animation-timing-function: ease-in-out;
}

.sender {
  background: var(--primary);
  align-self: flex-end;
}

.sender-label, .receiver-label {
  background: inherit;
  color: rgb(244,244,245);
  font-weight: bolder;
  margin-bottom: .15rem;
}

.sender > p, img {
  background: inherit;
}

.img-container > img {
  width: 380px;
  height: auto;
}

.receiver {
  background: var(--secondary);
  align-self: flex-start;
}

.receiver > p, img {
  background: inherit;
}

.card {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  align-items: center;
  border: 1px solid var(--border-alternative-color);
  border-radius: .3rem;
  padding: .5rem;
  background-color: transparent;
  transition: 150ms ease-in-out all;
  height: 10vh;
  margin: .15rem;
  animation-name: fadedown;
  animation-duration: 150ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.card:hover {
  cursor: pointer;
  background-color: var(--secondary);
}

.card-image {
  display: grid;
  width: 30%;
}

.card-detail {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  gap: .2rem;
  background-color: inherit;
  width: 70%;
}

.card-detail > h3 {
  background-color: inherit;
  color: inherit;
}

