@import '../../assets/color.css';

ul {
  display: block;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  list-style: none;
  border-right: 1px solid var(--border-alternative-color);
  padding-top: .1rem;
  position: relative;
}
