@import '../../assets/color.css';

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.side { grid-area: 1 / 1 / 2 / 3; }
.article { grid-area: 1 / 3 / 2 / 13; background: var(--darker-bg); }
