button {
  height: 2.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-radius: .3rem;
  border: 0px;
  transition: 250ms ease-in-out all;
}

button:hover {
  cursor: pointer;
}

.send, .create, .accept, .cancel {
  background-color: #4f46e5;
  color: white;
}

.send:hover, .create:hover, .accept:hover, .cancel:hover {
  background-color: #6366f1;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .15rem;
}

.close {
  background: transparent;
  color: black;
}

.close:hover {
  background: #e6e6e6;
}
