@import '../../assets/color.css';

button {
  height: 2.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-radius: .3rem;
  border: 0px;
  transition: 250ms ease-in-out all;
}

button:hover {
  cursor: pointer;
}

button:disabled {
  background: var(--secondary);
}

button:disabled:hover {
  background: var(--secondary);
}


.send, .create {
  background: var(--primary);
}

.accept {
  background: var(--success);
}

.cancel {
  background: var(--danger);
}

.send:hover, .create:hover {
  background: var(--primary-hover);
}

.accept:hover {
  background: var(--success-hover);
}

.cancel:hover {
  background: var(--danger-hover);
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .15rem;
  background: inherit;
}

.close, .send-transparent {
  background: transparent;
}

.close:hover, .send-transparent:hover {
  background: var(--secondary);
}

.transparent-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .15rem;
  background: transparent;
}
