# APPLICATION
HOST=0.0.0.0
PORT=4000

# DATABASE
MONGODB_URL=mongodb+srv://chitrda112:resendo@resendo.niu5ipp.mongodb.net/?retryWrites=true&w=majority

# SECRET
JWT_SECRET=@adudarkwa
REFRESH_SECRET=@adulaiphairefresh

# CLOUDINARY API ENV
CLOUDINARY_CLOUD_NAME=dvecxbxzv
CLOUDINARY_API_KEY=967466941857629
CLOUDINARY_API_SECRET=QNLOHpP63MrJ7tLq5DZlKezp2Rg

# URL
LOCAL_CLIENT=http://localhost:5173
STAGING_CLIENT=https://resendo-client.netlify.app
