@import '../../assets/color.css';
@import '../../assets/animations.css';

.user {
  padding: .5rem;
  display: flex;
  justify-content: space-between;
  gap: .5rem;
  align-items: center;
  width: 300px;
  animation-name: fadedown;
  animation-duration: 250ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.self-label, .added {
  height: 2.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-radius: .3rem;
  border: 0px;
  transition: 250ms ease-in-out all;
  background: var(--darker-bg);
  color: black;
  display: grid;
  place-items: center;
}

.self-label > h4 {
  background: inherit;
}

