.hide-notify {
  display: none;
}

.success {
  top: 0;
  right: 0;
  position: absolute;
  margin: 1rem;
  padding: 1.2rem;
  background: #03fc9d;
  border: 3px solid #00ab69;
  border-radius: 7px;
  color: #00452a;
}

.content {

}
