@import url('../../assets/animations.css');

#notify {
  position: fixed;
  visibility: hidden;
  top: 25px;
  left: 50%;
  margin-left: -125px;
  min-width: 250px;
  padding: .7rem;
  border-radius: 7px;
  font-size: 12px;
  z-index: 10000;
}

#notify.show {
  visibility: visible;
  animation: slide-fade-down;
  animation-duration: 300ms;
  animation-timing-function: cubic-bezier(.62,-0.01,.09,.96);
  animation-fill-mode: forwards;
}

#notify.hidden {
  visibility: visible;
  animation: slide-fade-up;
  animation-duration: 200ms;
  animation-timing-function: cubic-bezier(1,.01,.26,.82);
  animation-fill-mode: forwards;
}

.success {
  background: #03fc9d;
  border: 3px solid #00ab69;
  color: #00452a;
}

.success > .content > h3 {
  background: inherit;
  color: #00452a;
}

.error {
  background: #ff5765;
  border: 3px solid #420006;
}

.error > .content > h3 {
  background: inherit;
  color: #571c21;
}
